@*

    Código Razor
    
*@

@model IEnumerable<Turnos.Models.Especialidad>
@{
    ViewData["Title"] = "Especialidades";
}
<h2>Especialidades</h2>

<table class="table table_striped">


    <thead>

        <th>@Html.DisplayNameFor(model => model.Descripcion)</th>

    </thead>

    <tbody>

        <!-- Array asociativo -->

        @foreach (var item in Model)
        {

            <tr>

                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>

            </tr>

        }

    </tbody>

</table>

