@*

    Código Razor
    
*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especialidades</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Acciones</th>
        </tr>
        <tbody>
            <tr>
                <td>Traumatólogo</td>
            </tr>
            <tr>
                <td>Cardiólogo</td>
            </tr>
        </tbody>
    </table>
</body>
</html>

